header { background: grey; width:100%; height: 100px; }
section { background: white; width:70%; height: 100px; float: left; }
footer { background: grey; width:100%; height: 100px; clear: both; }
p { font: 14px Arial, sans-serif; color: red; text-align: center; }
